<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Show Tweet By Click</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4kLyqA2-vjD1SzEuD0EAwbNoyKlI7v_c"></script>-->
    <script src="/socket.io/socket.io.js"></script>
    <script>
      // In the following example, markers appear when the user clicks on the map.
      // Each marker is labeled with a single alphabetical character.
      var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
      var labelIndex = 0;
      var new_york = { lat: 40.97, lng: -74.59 };
      var pointer = null;
      var map = null;
      var socket = null;
      function initialize() {
        start_socket()
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: new_york
        });
        // This event listener calls addMarker() when the map is clicked.
        google.maps.event.addListener(map, 'click', function(event) {
          if(pointer!=null) pointer.setMap(null);
          addMarker(event.latLng, map);
          socket.emit('click', event.latLng);
        });
      }

      function start_socket(){
        console.log('start socket');
        socket = io.connect('/');
        socket.on('searchTweets', function(data){
            data.forEach(function(tweet){
                console.log("lat:" + tweet.geo.lat + ",lng" + tweet.geo.lon);
                addInfoWindow(map, tweet)
            });
        });
        socket.on('clickTweets', function(data){
            data.forEach(function(tweet){
                console.log("lat:" + tweet.geo.lat + ",lng" + tweet.geo.lon);
                addInfoWindow(map, tweet)
            });
        });
      }

      // Adds a marker to the map.
      function addMarker(location, map) {
        // Add the marker at the clicked location, and add the next-available label
        // from the array of alphabetical characters.
        pointer = new google.maps.Marker({
          position: location,
          label: labels[labelIndex++ % labels.length],
          map: map
        });
      }

      function addInfoWindow(map, tweet){
        var infoWindow = new google.maps.InfoWindow({
            content: "<img src="+tweet.user.profile_image_url+" align=left><b>@"+tweet.user.screen_name+"</b><br>"+tweet.text,
            position: {lat: tweet.geo.lat, lng: tweet.geo.lon},
            map: map,
        });
        setTimeout(function(){infoWindow.close()}, '2000');
      }

      function send_keyword(keyword){
          socket.emit('search_keyword', keyword);
      }

      //google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4kLyqA2-vjD1SzEuD0EAwbNoyKlI7v_c&callback=initialize">
    </script>
  </head>
  <body>
      <form>
          <div>Please select a keyword from the list</div>
          <select name="myselect" id="myselect" style="width:70px; height:30px">
              <option value="car">Car</option>
              <option value="dog">Dog</option>
              <option value="cat">Cat</option>
              <option value="python">Python</option>
              <option value="java">Java</option>
              <option value="brother">Bother</option>
              <option value="happy">Happy</option>
          </select>
          <input type="button" name="btn" value="submit" onclick="send_keyword(myselect.value)" />
      </form>
    <div id="map"></div>
  </body>
</html>